/* ChatBubble.css */

.chat {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    border: 0px;
  }
  
  .chat-left {
    background-color: #f1f1f1;
    color: #000;
    align-self: flex-end;
  }
  
  .chat-right {
    background-color: #007bff;
    color: #fff;
    align-self: flex-start;
  }
  
  .chat-sender {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .chat-message {
    margin-bottom: 5px;
  }
  
  .chat-time {
    font-size: 0.8em;
    color: #888;
    text-align: right;
  }
  