/* ChatHeader.css */

.person-chat-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .person-profile-pic {
    margin-right: 10px;
  }
  
  .person-profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .person-chat-name {
    flex-grow: 1;
    border: 0px;
  }
  
  .person-chat-name .person-chat-status {
    font-size: 0.8em;
    color: #888;
  }
  
  .person-chat-options {
    cursor: pointer;
    border: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(217, 53, 53)
  }
  